<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>dashboard</mat-icon>
  </button>
  <span>Lecturer</span>
  <span class="example-spacer"></span>
  <button class="spacing" mat-raised-button color="warn" (click)="dashboard()">
    Dashboard
  </button>

  <button class="spacing" mat-raised-button color="warn" (click)="openChat()">
    Inquiries
  </button>

  <button class="spacing" mat-raised-button color="warn" (click)="signOut()">
    Sign Out
  </button>
</mat-toolbar>
