<mat-card
  *ngFor="let project of projects"
  class="spacing"
  style="width: 300px; height: 170px"
>
  <mat-card-header>
    <mat-card-title style="margin-left: -15px">{{
      project.sectionName
    }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>{{ project.sectionDescription }} </mat-card-content>
  <mat-card-actions style="text-align: center">
    <button
      mat-raised-button
      color="primary"
      (click)="viewSubmissions(project)"
    >
      View Submissions
    </button>
  </mat-card-actions>
</mat-card>
