<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Admin Dashboard</span>
  <span class="example-spacer"></span>
  <button class="spacing" mat-raised-button color="warn">
    Lecturer
  </button>
  <button class="spacing" mat-raised-button color="warn">
    Student
  </button>
  <button class="spacing" mat-raised-button color="warn">
    Degree
  </button>

</mat-toolbar>
