<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>supervised_user_circle</mat-icon>
  </button>
  <span>Student Dashboard</span>
  <span class="example-spacer"></span>
  <button class="spacing" mat-raised-button color="warn">Dashboard</button>
  <button class="spacing" mat-raised-button color="warn" (click)="openChat()">
    Inquiries
  </button>
  <button class="spacing" mat-raised-button color="warn">Sign Out</button>
</mat-toolbar>
