h1 {
  font-size: 35px;
  font-weight: bold;
}

.row {
  margin-top: 20px;
}

.submit-btn {
  width: 270px;
  height: 40px;
  font-size: 20px;
}

label {
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 1px;
}

.loc {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -70%);
  top: 55%;
}

mat-form-field {
  width: 100%;
}

.label {
  font-size: 20px;
  margin-bottom: 10px;
}
